@charset "UTF-8";

/*---------------------------------
Modules
---------------------------------*/

/*-- btn --*/
.btn-count {
  padding: 5px 0 5px 10px;
}
.btn-count span {
  margin-left: 10px;
  padding: 6px 5px 5px;
  border-left: 1px solid #d5d5d5;
  background-color: #fff;
  font-size: 11px;
}
.btn-new-issue {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 5px 10px;
}

/*-- label --*/
.label-purple {
  padding: 5px;
  border-radius: 3px;
  background-color: #6e5494;
  color: #fff;
  font-weight: bold;
}
.label-purple i {
  margin-right: 5px;
}
.label-branch {
  padding: 3px 5px;
  border-bottom: 1px solid #cbd2d9;
  border-radius: 3px;
  background-color: #e8f0f8;
  color: #336479;
  font-family: Monaco, "Liberation Mono", Courier, monospace;
  font-size: 10px;
}