@charset "UTF-8";

/*---------------------------------
Main
---------------------------------*/

/*-- main-body-left --*/
.main-body-left {
  float: left;
  width: 935px;
}
.main-body-left-top {
  position: relative;
}
.main-body-left-angle {
  position: absolute;
  top: 0;
  left: -30px;
  color: #ccc;
  font-size: 30px;
}
.main-body-left-status {
  color: #777;
  font-size: 14px;
}
.main-body-left-status .label-purple {
  margin-right: 10px;
}
.main-body-left-status strong {
  color: #555;
}
.main-body-left-tabs {
  float: left;
  margin-top: 5px;
}
.main-body-left-tabs li {
  float: left;
}
.main-body-left-tabs li + li {
  margin-left: 10px;
}
.main-body-left-tabs a {
  display: block;
  padding: 10px 15px 7px 9px;
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
.main-body-left-tabs a.active {
  border: 1px solid;
  border-color: #ddd #ddd transparent #ddd;  
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  color: #333;
}
.main-body-left-tabs i {
  margin-right: 3px;
  font-size: 15px;
}
.main-body-left-tabs span {
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 50%;
  background-color: #e5e5e5;
  color: #777;
  font-size: 10px;
  font-weight: bold;
}
.main-body-left-change-logs {
  float: right;
  margin: 10px 20px 0 0;
}
.main-body-left-change-logs ul,
.main-body-left-change-logs span {
  display: inline-block;
  margin: 10px 0 0 5px;
}
.main-body-left-change-logs li {
  display: block;
  float: left;
  margin-left: 1px;
  width: 8px;
  height: 8px;
}
.main-body-left-change-logs span {
  font-size: 11px;
  font-weight: bold;
}
.log-green {
  background-color: #6cc644;
}
.log-red {
  background-color: #bd2c00;
}
.log-gray {
 background-color: #eee; 
}
.log-num-green {
  color: #6cc644;
}
.log-num-red {
  color: #bd2c00;
}