@charset "UTF-8";
/*---------------------------------
Clearfix
---------------------------------*/
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
/*---------------------------------
Base
---------------------------------*/

a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
h1 {
  margin: 10px 0;
  font-size: 26px;
  color: #333;
}
ul {
  list-style: none;
  padding-left: 0;
}
small {
  color: #7f777f; 
}

/*---------------------------------
Header
---------------------------------*/

.header-inner {
  width: 980px;
  margin: 0 auto;
}
.header-logo {
  float: left;
}
.header-logo img {
  width: 100px;
  vertical-align: bottom;
}
.header-inner li {
  display: inline-block;
}
.header-inner form {
  position: relative;
  float: left;
  margin: 4px 0 0 15px;
}
.header-nav {
  float: right;
  font-size: 13px;
}
.header-nav li {
  margin-left: 10px;
  font-weight: bold;
}
.header-nav a {
  color: #333;
}
.header-account-btns {
  float: right;
  margin-left: 45px;
  font-size: 13px;
  font-weight: bold;
}
.header-account-btns li + li {
  margin-left: 10px;
}
.header-account-btns a {
  padding: 10px 15px;
  border-radius: 5px;
}
.header-account-btn-signup {
  border: 1px solid #5ca941;
  background: -moz-linear-gradient(top, #78d757, #569e3d); 
  background: -webkit-gradient(linear, left top, left bottom, from(#78d757), to(#569e3d));
  color: #fff;
}
.header-account-btn-signin {
  border: 1px solid #d5d5d5;
  background: -moz-linear-gradient(top, #fcfcfc, #eaeaea); 
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eaeaea));
  color: #333;
}
.header-inner form input {
  width: 210px;
  height: 25px;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fcfcfc; 
  font-size: 12px;
  vertical-align: bottom;
}
.header-inner .fa-question-circle {
  position: absolute;
  top: 7px;
  right: 10px;
}

/*---------------------------------
Main
---------------------------------*/

.main-area {
  width: 980px;
  margin: 0 auto; 
}
.area-left,
.area-right {
  float: left;
}
.area-left {
  width: 225px;
  padding: 15px;
}
.area-left > img {
  width: 225px;
  border-radius: 5px;
}
.area-left h1 span {
  display: block;
}
.user-name {
  font-size: 20px;
  font-weight: 300;
  color: #666;
}
.user-info {
  padding: 15px 0;
  font-size: 14px;
}
.user-info li + li {
  margin-top: 5px; 
}
.user-info i {
  color: #ccc;
}
.area-left ul {
  margin: 0;
  border-top: 1px solid #eee;
}
.profile-stats {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.profile-stats li {
  display: inline-block;
  text-align: center;
}
.profile-stats li + li {
  margin-left: 20px;
}
.profile-stats li span {
  display: block;
}
.profile-stats li span:first-child {
  font-size: 28px;
  font-weight: bold;
}
.profile-stats li span:last-child {
  font-size: 12px;
  color: #999;
}
.area-right {
  width: 720px;
}
.activity-tabs li {
  display: inline-block;
}
.area-right table {
  display: inline-block;
}


/*---------------------------------
Footer
---------------------------------*/

.footer-inner {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 24px 0;
  border-top: 1px solid #eee;
}
.footer-inner p {
  float: left;
}
.footer-inner i {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -14px;
  color: #ccc;
  font-size: 28px;
}
.footer-nav-left {
  float: left;
}
.footer-nav-left ul {
  padding-left: 0;
}
.footer-nav-right {
  float: right;
}
.footer-nav-left li,
.footer-nav-right li {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}
