@charset "UTF-8";
/*---------------------------------
Clearfix
---------------------------------*/
.cf:before,
.cf:after {
    display: table;
    content: "";
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
/*---------------------------------
Base
---------------------------------*/
body {
  color: #333;
  font-size: 12px;
}
header {
  padding: 15px 0 13px;
  border-bottom: 1px solid #eee;
}
ul {
  padding-left: 0;
  list-style: none;
}
form {
  position: relative;
  float: left;
  margin: 3px 0 0 13px;
}
form input {
  width: 210px;
  height: 24px;
  padding-left: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fcfcfc;
  vertical-align: bottom;
}
a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/*---------------------------------
Layout
---------------------------------*/
.container {
  width: 980px;
  margin: 0 auto; 
}
/*---------------------------------
Modules
---------------------------------*/
.btn {
  position: relative;
  padding: 8px 12px 9px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eaeaea));
  color: #333;
  font-weight: bold; 
}
.btn-primary {
  border: 1px solid #5ca941;
  background: -webkit-gradient(linear, left top, left bottom, from(#89dc6c), to(#61b145));
  color: #fff;
}
/*---------------------------------
Header
---------------------------------*/
.header-logo {
  float: left;
  margin: -3px 0 0 -7px;
}
.header-logo img {
  width: 103px;
  vertical-align: bottom;
}
.header-icon-question {
  position: absolute;
  top: 6px;
  right: 10px;
  color: #9e9e9e;
  font-size: 14px;
}
.header-nav li,
.header-btns-account li {
  display: inline-block;
}
.header-nav {
  float: right;
  font-size: 13px;
}
.header-nav ul {
  margin-top: 9px;
}
.header-nav li {
  margin-left: 11px;
  font-weight: bold;
}
.header-nav a {
  color: #333;
}
.header-btns-account {
  float: right;
  margin: 9px 0 0 95px;
  font-size: 13px;
}
.header-btns-account li + li {
  margin-left: 5px;
}
/*---------------------------------
Main
---------------------------------*/
/*-- container-left --*/


/*-- container-right --*/

/*---------------------------------
Footer
---------------------------------*/

