@charset "UTF-8";
/*---------------------------------
Clearfix
---------------------------------*/
.cf:before,
.cf:after {
    display: table;
    content: "";
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
/*---------------------------------
Base
---------------------------------*/
body {
  color: #333;
  font-size: 12px;
}
header {
  padding: 15px 0 13px;
  border-bottom: 1px solid #eee;
}
footer {
  color: #7f777f; 
}
section {
  position: relative;
}
h1 {
  margin: 7px 0 16px;
  font-size: 26px;
}
h1 span {
  display: block;
}
h2 {
  font-size: 21px;
  margin-top: 19px;
}
ul {
  padding-left: 0;
  list-style: none;
}
a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/*---------------------------------
Layout
---------------------------------*/
.container {
  width: 980px;
  margin: 0 auto;
}
.container-left,
.container-right {
  float: left;
}
.container-left {
  padding: 20px 20px 0 0;
}
.container-right {
  width: 730px;
  padding-top: 20px;
}
/*---------------------------------
Modules
---------------------------------*/
.btn {
  padding: 8px 12px 9px;
  border-radius: 3px;
  font-weight: bold; 
}
.btn-base {
  border: 1px solid #d5d5d5;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eaeaea));
  color: #333;
}
.btn-primary {
  border: 1px solid #5ca941;
  background: -webkit-gradient(linear, left top, left bottom, from(#89dc6c), to(#61b145));
  color: #fff;
}
.btn-follow {
  float: right;
  padding: 4px 10px 5px;
  font-size: 13px;
}
.btn-follow i {
  margin-right: 10px;
}
/*---------------------------------
Header
---------------------------------*/
.header-logo {
  float: left;
  margin: -3px 0 0 -7px;
}
.header-logo img {
  width: 103px;
  vertical-align: bottom;
}
.header-inner form {
  position: relative;
  float: left;
  margin: 3px 0 0 13px;
}
.header-inner form input {
  width: 210px;
  height: 24px;
  padding-left: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fcfcfc;
  vertical-align: bottom;
}
.header-icon-question {
  position: absolute;
  top: 6px;
  right: 10px;
  color: #9e9e9e;
  font-size: 14px;
}
.header-nav li,
.header-account-btns li {
  display: inline-block;
}
.header-nav {
  float: right;
  font-size: 13px;
}
.header-nav ul {
  margin-top: 9px;
}
.header-nav li {
  margin-left: 11px;
  font-weight: bold;
}
.header-nav a {
  color: #333;
}
.header-account-btns {
  float: right;
  margin: 9px 0 0 95px;
  font-size: 13px;
}
.header-account-btns li + li {
  margin-left: 5px;
}
/*---------------------------------
Main
---------------------------------*/
/* area-left */
.container-left > img {
  width: 230px;
  border-radius: 6px;
}
.user-name {
  color: #666;
  font-size: 20px;
  font-weight: 300;
}
.user-info,
.profile-stats {
  margin: 0;
  border-top: 1px solid #eee;
}
.user-info {
  padding: 18px 0 19px;
  font-size: 14px;
}
.user-info li + li {
  margin-top: 7px; 
}
.user-info i {
  margin-right: 2px;
  color: #ccc;
}
.profile-stats {
  padding: 13px 0 16px;
  border-bottom: 1px solid #eee;
}
.profile-stats li {
  float: left;
  width: 33.333%;
  text-align: center;
}
.profile-stats li span {
  display: block;
}
.profile-stats-num {
  font-size: 28px;
  font-weight: bold;
}
.profile-stats-unit {
  margin-top: -1px;
  color: #999;
  font-size: 11px;
}

/* area-right */
.contribution-tabs {
  float: left;
  margin: 0 0 -1px 0;
}
.contribution-tabs li {
  float: left;
}
.contribution-tabs li + li {
  margin-left: 2px;
}
.contribution-tabs a {
  display: block;
  padding: 10px 11px 7px 9px;
  color: #666;
  font-size: 14px;
  text-decoration: none;
}
.contribution-tabs a.active {
  border: 1px solid;
  border-color: #ddd #ddd #fff #ddd;  
  border-radius: 3px 3px 0 0;
}
.contribution-tabs i {
  margin-right: -3px;
  font-size: 17px;
}
.contribution-contents {
  padding: 20px 0 65px 0;
  border-top: 1px solid #ddd;
}
.contribution-contents-box {
  display: inline-block;
  width: 355px;
  vertical-align: top;
}
.box-head {
  margin: 0;
  padding: 8px 10px 11px;
  border: 1px solid #d5d5d5;
  border-radius: 5px 5px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));
  color: #555;
  font-size: 13px;
}
.contribution-contents-box ul {
  margin: 0;
  border: solid #d5d5d5;
  border-width: 0px 1px 1px 1px;
  border-radius: 0 0 5px 5px;
}
.contribution-contents-box li {
  height: 47px;
}
.contribution-contents-box li + li {
  border-top: 1px solid #d5d5d5;
}
.contribution-contents-box li span {
  display: block;
}
.contribution-contents-box a {
  display: block;
  height: 100%;
  position: relative;
}
.contribution-contents-box a:hover {
  text-decoration: none;
}
.contribution-contents-box-title {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -17px;
  font-weight: bold;
}
.repo-title {
  font-size: 14px;
}
.contribution-contents-box-title.title-light {
  font-weight: normal;
}
.contribution-contents-box-title.title-light .contribution-contents-box-description {
  margin-top: 1px;
}
.contribution-contents-box-title i {
  margin-right: 3px;
  color: #666;
}
.contribution-contents-box li .title-bold {
  font-weight: bold;
  display: inline-block;
}
.contribution-contents-box-description {
  margin: 3px 0 0 20px;
  color: #777783;
  font-weight: normal;
  text-overflow: ellipsis;
}
.contribution-contents-box-title.no-description {
  margin-top: -9px;
}
.contribution-contents-box-num-starred {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  color: #888;
}
.contribution-contents-box-num-starred i {
  margin-left: 4px;
  font-size: 14px;
}
.contribution-contents-box + .contribution-contents-box {
  margin-left: 20px;
}
.contribution-contents-box-full {
  width: 100%;
  margin-top: 20px;
  margin-left: 0;
}
.month {
  margin: 0 0 0 13px;
}
.month li {
  display: inline-block;
  color: #aaa;
}
.month li + li {
  margin-left: 35px;
  border: none;
}
.contribution-contents-box-full-contents {
  border: solid #d5d5d5;
  border-width: 0px 1px 1px 1px;
  border-radius: 0 0 5px 5px;
}
.contribution-log {
  padding: 10px;
  font-size: 10px;
}
.term li {
  color: #ccc;
  font-size: 9px;
  margin-top: 15px;
}
.table {
  padding: 5px;
  float: right;
}
.box {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #eee;
  margin-right: 2px;
  float: left;
}
.box.c {
  background-color: #d6e685;
}
.box.cc {
  background-color: #44a340;
}
.box:last-child {
  margin-right: 0;
}
.table-row {
  margin-bottom: 2px;
}
.table-row:last-child {
  margin-bottom: 0;
}
.support {
  display: inline-block;
  color: #999;
  margin: 3px 0 0;
  font-size: 11px;
}
.support i {
  font-size: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.support span {
  vertical-align: middle;
  margin-left: 5px;
}
.hanyo {
  margin-top: 3px;
  float: right;
  font-size: 11px;
}
.hanyo * {
  display: inline-block;
}
.hanyo span {
  color: #999;
}
.hanyo ul {
  margin: 0;
  padding: 0 5px;
}
.hanyo li {
  width: 10px;
  height: 10px;
}
.a {
  background-color: #eee;
}
.aa {
  background-color: #d6e685;
}
.aaa {
  background-color: #8cc665;
}
.aaaa {
  background-color: #44a340;
}
.aaaaa {
  background-color: #1e6823;
}
.contribution-log-num {
  border-top: 1px solid #d5d5d5;
}
.contribution-log-num ul {
  margin: 0;
}
.contribution-log-num li {
  height: 100%;
  float: left;
  width: 242px;
}
.contribution-log-num li + li {
  border-left: 1px solid #d5d5d5;
}
.contribution-log-num li > div {
  padding: 12px 20px;
}
.contribution-log-num span {
  display: block;
  text-align: center;
}
.num-total {
  font-size: 16px;
  font-weight: bold;
}
.num-term {
  margin-top: 3px;
  font-size: 13px;
  color: #999;
}
.num-description {
  border-top: 1px solid #f7f7f7;
  padding: 11px;
  font-size: 11px;
  font-weight: bold;
  color: #777783;
}
.commit-count {
  margin-top: 38px;
  padding-top: 24px;
  border-top: 1px solid #dddddd;
  position: relative;
}
.commit-num-wrapper {
  position: absolute;
  top: -12px;
  width: 100%;
  text-align: center;
}
.commit-num {
  padding: 10px 5px;
  background-color: #fff;
  font-size: 16px;
  color: #999;
}
.commit-num span {
  font-weight: bold;
  color: #333;
}
.commit-count a {
  font-weight: bold;
  font-size: 13px
}
.btn {
  position: relative;
}
.btn-week {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 4px 10px 5px;
  font-size: 13px;
}
.btn-week i {
  margin-left: 8px;
  font-size: 12px;
}
.btn-txt-gray {
  font-weight: normal;
  color: #8a8a8a;
}
.commit-count-term {
  color: #999;
  font-size: 13px;
  margin-left: 1px;
}

/*---------------------------------
Footer
---------------------------------*/
.footer-inner {
  position: relative;
  padding: 30px 0 53px;
  border-top: 1px solid #eee;
}
.footer-inner p {
  float: left;
}
.footer-inner a {
  display: block;
}
.footer-icon-github {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -12px;
  color: #ccc;
  font-size: 28px;
}
.footer-nav-left {
  float: left;
}
.footer-nav-left ul {
  padding-left: 3px;
}
.footer-nav-right {
  float: right;
}
.footer-nav-left li,
.footer-nav-right li {
  display: inline-block;
  margin-left: 10px;
}
